# Configuración del Servidor
PORT=3000

# Base de Datos (PostgreSQL)
DB_HOST=localhost
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contrasena_aqui

# Auth0 (Fase I)
AUTH0_DOMAIN=tu-dominio.auth0.com
AUTH0_AUDIENCE=tu_audience